prefix = "boundary-poc-5"
boundary_controller_address="https://5ad2a4d7.boundary.hashicorp.cloud"
boundary_password_auth_method_id="ampw_hwWkTy"
boundary_login_name="mybo1"        
boundary_login_password="mybouss1"
hcp_client_id="xVRieBpO9KZ8YzYp"
hcp_client_secret="kVAq8HVMuYi-QGr-2arkp2arrJVGjr5ybnX2PilOGS45IDK2j"
hcp_vault_tier="development"
#hcp_vault_tier="starter_small"
vault_namespace = "admin"
aad_tenant_id="14474510-dac9-49ac-c14cb01e2"
aad_client_id="980ee323-6f67-406eda8b01e2384"
aad_client_secret_value="CQT8Q~mk6VNguNfQT4eCvxuv4rdwm"
aws_db_instance_login_name="mydbur1"
aws_db_instance_login_password="mydss1"
region = "us-east-1"
#gcp_project_id = "hc-9f650905e7f24870a13bfd19d14"
#gcp_region     = "us-central1"
#gke_username   = "mygkeuser1"
#gke_password   = "mygkepass1"
#gke_password   = "mygkepass1"
