hcp_client_id="xVRieBpO"
hcp_client_secret="kVAq8HVMuYi-QGr"
boundary_controller_address="https://12345-9dc8-42d0-adbb-3ad26f5abdcc.boundary.hashicorp.cloud"
boundary_password_auth_method_id="ampw_Pjdfs3f43f"
boundary_login_name="myboundaryuser"        
boundary_login_password="MyBoundaryPassword"
aad_tenant_id="4474510-dac9"
aad_client_id="80ee323-6f67-4066"
aad_client_secret_value="CQT8Q~mk6"